/* Fix Leaflet floating above everything */
.leaflet-container {
  z-index: 0 !important;
}

.leaflet-pane,
.leaflet-top,
.leaflet-bottom,
.leaflet-overlay-pane,
.leaflet-shadow-pane,
.leaflet-marker-pane,
.leaflet-tooltip-pane,
.leaflet-popup-pane {
  z-index: 0 !important;
}

.leaflet-control {
  z-index: 1 !important;
}
